<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593152243744-p6kntpk2qej70die13akervfhfv0i2kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593152243744-p6kntpk2qej70die13akervfhfv0i2kl</string>
	<key>API_KEY</key>
	<string>AIzaSyDeL6VoNmKPpTKNTy5ZIW0Z4zwPJjY1EWM</string>
	<key>GCM_SENDER_ID</key>
	<string>593152243744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodeongee.escape.escape</string>
	<key>PROJECT_ID</key>
	<string>kodeongee-escape-1</string>
	<key>STORAGE_BUCKET</key>
	<string>kodeongee-escape-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593152243744:ios:2bff1cfcab58a36f7a6445</string>
</dict>
</plist>